Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 2
UseTab: Never
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
ColumnLimit: 80
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowAllConstructorInitializersOnNextLine: true
BreakStringLiterals: true
SortIncludes: true
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: true
IndentPPDirectives: BeforeHash

# BRACES
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: false
  AfterFunction: true
  AfterExternBlock: true