Checks: >
  -*,
  bugprone-*,
  boost-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-avoid-non-const-global-variables
  
