#folders
\.vscode/
\.vs/
obj/
bin/
\.cquery_cached_index

#specific files
Makefile
conanbuildinfo\.lua
conanbuildinfo\.txt
conaninfo\.txt
graph_info\.json
compile_commands.json


#file extensions
*.make
*.sln
*.vcxproj
*.user
*.filters
*.cmake


#emacs
.\#*
.projectile
*~