#folders
\.vscode/
\.vs/
obj/
bin/
\.cquery_cached_index
\.ccls-cache
\.clangd
build/

#specific files
Makefile
compile_commands.json


#file extensions
*.make
*.sln
*.vcxproj
*.user
*.filters
*.cmake
*.ccls-root
*.orig

#emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.projectile
*~
