#folders
\.vscode/
\.vs/
obj/
bin/
\.cquery_cached_index
\.ccls-cache
build/

#specific files
Makefile
vendor/conan/conanbuildinfo\.lua
vendor/conan/conanbuildinfo\.txt
vendor/conan/conanbuildinfo.premake.lua
vendor/conan/conaninfo\.txt
vendor/conan/graph_info\.json
compile_commands.json


#file extensions
*.make
*.sln
*.vcxproj
*.user
*.filters
*.cmake
*.ccls-root

#emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*